#new {
	-fx-background-color: rgb(240, 240, 240);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 0);
}
#new:hover {
	-fx-background-color: rgb(255, 255, 255);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 0);
}
#new:pressed {
	-fx-background-color: rgb(225, 225, 225);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 0);
}

#tab {
	-fx-background-color: rgba(255, 255, 255, 0);
}
#tab:hover {
	-fx-background-color: rgba(255, 255, 255, 0.3);
}
#tab:pressed {
	-fx-background-color: rgba(255, 255, 255, 0.3);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 0);
}
#tabSelected {
	-fx-background-color: rgba(255, 255, 255, 0.4);
	-fx-border-width: 0 2px 0 0;
	-fx-border-color: rgb(244, 130, 37);
}

#saved, #logOut {
	-fx-background-color: rgba(255, 255, 255, 0.2);
	-fx-border-width: 1px;
	-fx-border-color: rgba(255, 255, 255, 0.3);
}
#saved:hover, #logOut:hover {
	-fx-background-color: rgba(255, 255, 255, 0.4);
}
#saved:pressed, #logOut:pressed {
	-fx-background-color: rgba(255, 255, 255, 0.4);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 0);
}
#save {
	-fx-background-color: rgba(255, 255, 100, 0.3);
	-fx-border-color: rgba(255, 255, 255, 0.3);
}
#save:hover {
	-fx-background-color: rgba(255, 255, 100, 0.2);
}
#save:pressed {
	-fx-background-color: rgba(255, 255, 100, 0.2);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 0);
}

#menuButton {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-border-width: 1px;
	-fx-border-color: rgb(0, 0, 0);
	-fx-border-radius: 5px;
}
#menuButton:hover {
	-fx-background-color: rgba(0, 0, 0, 0.1);
	-fx-border-width: 1px;
	-fx-border-color: rgb(0, 0, 0);
	-fx-border-radius: 5px;
}
#menuButton:pressed {
	-fx-background-color: rgba(0, 0, 0, 0.2);
	-fx-border-width: 1px;
	-fx-border-color: rgb(0, 0, 0);
	-fx-border-radius: 5px;
}
#menuButtonSpecial {
	-fx-background-color: rgba(100, 100, 255, 0.2);
	-fx-border-width: 1px;
	-fx-border-color: rgb(0, 0, 0);
	-fx-border-radius: 5px;
}
#menuButtonSpecial:hover {
	-fx-background-color: rgba(100, 100, 255, 0.4);
	-fx-border-width: 1px;
	-fx-border-color: rgb(0, 0, 0);
	-fx-border-radius: 5px;
}
#menuButtonSpecial:pressed {
	-fx-background-color: rgba(100, 100, 255, 0.6);
	-fx-border-width: 1px;
	-fx-border-color: rgb(0, 0, 0);
	-fx-border-radius: 5px;
}

#historyTab {
	-fx-font-size: 16px;
	-fx-background-color: rgba(240, 240, 240, 0.5);
	-fx-border-color: rgba(0, 0, 0, 0.05);
	-fx-border-width: 1px;
	-fx-text-fill: black;
}
#history, #calendar {
	-fx-text-fill: black;
	-fx-font-size: 16px;
}
#history .scroll-bar:horizontal {
	-fx-opacity: 0;
	-fx-padding: -10px;
}
.table-row-cell {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: black;
}
.table-row-cell:hover {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: black;
}
.table-row-cell:pressed {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: black;
}
#calendar .table-row-cell:selected {
   -fx-background-color: rgba(100, 100, 255, 0.5); 
   -fx-text-background-color: rgba(100, 100, 255, 0.5);
}
